/*****************************************************************************/
/*
/* Layout
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 42rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.content {
  padding-bottom: 5rem;
}

/*****************************************************************************/
/*
/* Typography
/*
/*****************************************************************************/

html {
  font-size: 12pt;
  overflow-y: scroll;
}

@media (max-width: 768px) {
  html {
    font-size: 11pt;
  }
}

body {
  color: #444;
  font-size: 1.15rem;
  font-family: 'PT Serif', serif;
  background-color: #fafafa;
}

.content {
  line-height: 1.7;
}

a {
  color: #44c;
  transition: color 0.3s ease;
  text-decoration: none;
}

a:hover {
  color: #444;
}

/*****************************************************************************/
/*
/* Components
/*
/*****************************************************************************/

hr {
  max-width: 18rem;
  margin: 2.5rem auto;
}

.site-title {
  color: #444;
  font-family: serif;
  font-size: 4rem;
  margin-bottom: 0;
  margin-top: 4rem;
  text-align: center;
  font-weight: lighter;
}

.site-title__prefix {
  color: #444;
  display: block;
  font-size: 2rem;
}

.site-title__suffix {
  color: #444;
  display: block;
  font-size: 2rem;
  margin-top: 1rem;
}

.site-subtitle {
  margin: 1rem 0;
  text-align: center;
  font-style: italic;
  font-size: 1rem;
}

.site-avatar {
  border-radius: 50%;
  display: block;
  margin: 2rem auto;

}

.links {
  margin: 2rem;
  text-align: center;
  font-size: 1.25rem;
}

.footnotes li {
  margin-bottom: 1rem;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post-header {
  text-align: center;
  margin: 2rem;
}

@media (min-width: 700px) {
  .post-header {
    margin: 2rem 15%;
  }
}

.post-header__date {
  color: #666;
  font-size: 80%;
}

.post > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post > p {
  text-align: justify;
  hyphens: auto;
  letter-spacing: -0.03rem;
}

.page li {
  margin: 0.5rem 0;
}

pre {
  background-color: #333;
  color: white;
  padding: 0.5rem;
  font-size: 80%;
  white-space: pre-wrap;
}

p > code {
  padding: 0 0.2rem;
  border: 1px solid #ddd;
  background-color: #eef;
  border-radius: 3px;
  font-size: 80%;
}

ul,
ol {
  margin-left: 1.9em;
}

.post > blockquote {
  border-left: 5px solid #ddd;
  margin: 2rem 1rem;
  padding: 0 1rem;
  font-style: italic;
  text-align: justify;
  font-size: 1.125rem;
}

blockquote p {
  margin: 1rem 0;
}

blockquote footer {
  text-align: left;
  font-size: 90%;
  opacity: .75;
}

blockquote em {
  font-style: normal;
}

.post figure {
  text-align: center;
  margin: 2rem 1rem;
}

.post img {
  max-width: 100%;
  box-shadow: 5px 5px 20px #999;
}

.post hr {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

iframe {
  width: 100%;
}

a.seamless {
  color: #444;
  text-decoration: none;
}

a.seamless:hover {
  color: #444;
  text-decoration: none;
}

.post h2 {
  margin-top: 2rem;
  font-weight: lighter;
}

.post h2 a {
  color: #444;
}

.post h2 a:hover {
  color: #444;
  text-decoration: underline;
}

.post ul {
  list-style: none;
  margin-left: 1rem;
}

.post ul li:before {
  content: '•';
  color: #888;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .post ul {
    margin-left: 0.5rem;
  }

  .post ul li:before{
    margin-right: 0.5rem;
  }
}
